<template>
	<div v-if="isOpen" class="modal" @click.self="close">
		<div class="modal__body">

			<div class="modal__header">
				<h2>Внимание!</h2>
			</div>
			<hr>
			<div class="modal__content">
				<slot name="modalContent"></slot>				
			</div>

			<hr>
			<div class="modal__footer">

				<slot name="actions" :confirm="confirm">
					
					<button @click="close">Закрыть</button>&nbsp;
					<button @click="confirm">Ок</button>
				</slot>

			</div>
		</div>
	</div>
</template>

<script>
	export default {
		modalController: null,

		data() {
			return {
				isOpen: false,
			}
		},		

		mounted() {
			document.addEventListener("keydown", this.handleKeydown)
		},
		beforeUnmount() {
			document.removeEventListener("keydown", this.handleKeydown);
		},
		methods: {
			open() {
				let resolve,
					reject;
				const modalPromise = new Promise((ok, fail) => {
					resolve = ok;
					reject = fail;
				});

				this.$options.modalController = { resolve, reject };

				this.isOpen = true;

				return modalPromise;
			},
			close() {
				this.$options.modalController.resolve(false);
				this.isOpen = false;
			},
			confirm() {
				this.$options.modalController.resolve(true);
				this.isOpen = false;
			},
			handleKeydown(e) {
				if (this.isOpen && e.key === 'Escape')
					this.close();
			}
		}
	}
</script>


<style>
	.modal {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0,0,0,0.4);
		display: flex;
		align-items: center;
		justify-content: center
	}
	.modal__body {
		background-color: white;
		width: 90%;
		height: 90%;
		max-width: 500px;
		max-height: 300px;
		padding: 20px;
		border-radius: 10px;
	}
</style>