<template>
  <div>
    <button @click="openModal">Открыть модалку</button>
    
    <Modal ref="confirmationModal">

      <template #modalContent>
        Lorem ipsum dolor sit, amet, consectetur adipisicing elit. Nostrum, non.<br>Lorem ipsum dolor sit, amet, consectetur adipisicing elit. Nostrum, non.
      </template>

      <template #actions="{confirm }">

        Напишите&nbsp;
        <input type="text" :placeholder="$options.CONFIRMATION_TEXT" v-model="confirmation">&nbsp;
        <button @click="confirm" :disabled="!isConfirmationCorrect">OK</button>

      </template>
    </Modal>

    <hr />

    <List :items="users" :fields="['username', 'name']">
      <template #item="{ item: user }">
        <User :item="user" />
      </template>
    </List>
    
    <hr />

    <List :items="todos" :fields="['title']">
      <template #item="slotProps">
        <Todo :item="slotProps.item" />
      </template>
    </List>
  </div>
</template>

<script>
import List from "./components/List.vue";
import User from "./components/User.vue";
import Todo from "./components/Todo.vue";
import Modal from "./components/Modal.vue";

import { loadUsers, loadTodos } from "./api.js";
export default {
  name: "App",
  components: {
    List,
    User,
    Todo,
    Modal,
  },
  data() {
    return { 
      users: [], 
      todos: [],
      confirmation: ''
    };
  },

  CONFIRMATION_TEXT: 'Подтверждаю',

  computed: {
    isConfirmationCorrect() {
      return (this.confirmation === this.$options.CONFIRMATION_TEXT);
    }
  },
  methods: {
    async openModal() {
      this.confirmation = '';

      const modalResult = await this.$refs.confirmationModal.open();

      if (modalResult) {
        alert('confirmed');
      }
    }
  },
  mounted() {
    loadUsers().then((users) => {
      this.users = users;
    });
    loadTodos().then((todos) => {
      this.todos = todos;
    });
  },
};
</script>

